@font-face {
  font-family: "Escoredream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff")
    format("woff");
  font-weight: 300;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

ul,
li {
  list-style: none;
  color: white;
}

body {
  background-color: black;
  color: white;
  font-family: "Escoredream";
  width: 100%;
  min-height: 100vh;
  display: block;
  overflow-x: hidden;
}

.wrap {
  display: block;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.4),
    transparent 60%
  );
  opacity: 0;
  transition: 0.8s;
}

.card.open::after {
  opacity: 1;
  transform: scale(1.2);
}

